<md-toolbar color="primary">
	<span>Angular OpenVidu Demo</span>
</md-toolbar>

<div class="app-content">
	  <md-card>
		<md-card-content>
			<!-- Form to login into the room -->
			<div class="form-session" *ngIf="!showOpenvidu">
				<h1>Join a group call</h1>
				<form (submit)="sendForm()" accept-charset="UTF-8">
					<p>
						<md-input-container>
							<input mdInput required type="text" placeholder="Participant ID" [(ngModel)]="participantId" name="participantId">
						</md-input-container>
					</p>
					<p>
						<md-input-container>
							<input mdInput required type="text" placeholder="Session ID" [(ngModel)]="sessionId" name="sessionId">
						</md-input-container>
					</p>
					<p>
						<button md-raised-button type="submit" color="primary">
							Join!
						</button>
					</p>
				</form>
			</div>
			
			<!-- Options to go back -->
			<div class="go-back" *ngIf="sessionClosed">
				<button md-raised-button type="submit" color="primary" (click)="goBack()">
					<md-icon>arrow_back</md-icon>
					Go back
				</button>
			</div>

			<!-- AngularOpenVidu Component -->
			<openvidu-hangouts *ngIf="showOpenvidu"
				[wsUrl]="wsUrl" [sessionId]="sessionId" [participantId]="participantId"
				(onRoomConnected)="onRoomConnected()"
				(onParticipantJoined)="onParticipantJoined($event)"
				(onParticipantLeft)="onParticipantLeft($event)"
				(onErrorMedia)="onErrorMedia()"
				(onLeaveRoom)="onLeaveRoom()"
				(onNewMessage)="onNewMessage($event)"
				(onCustomNotification)="onCustomNotification($event)">
				Loading openvidu...
			</openvidu-hangouts>
		</md-card-content>
	</md-card>
</div>
