@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
	margin: 0px;
	height: 100%;
	font-family: Roboto, sans-serif;
}

app-root {
	display: flex;
    flex-direction: column;
    height: 100%;
}

